*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    height: 1600px;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    background-color: #1d1d1d;
}
header{
    color: white;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }
  h4{
    color: white;
    font-size: 28px;
    transition: 400ms ease-in;
  }
  .h-start{
    display: flex;
    justify-content: start;
    gap: 24px;
    align-items: center;
  }
  button:hover{
    cursor: pointer;
  }
  button.signin{
    padding: 10px 36px;
    font-size: 24px;
    border-radius: 32px;
    font-weight: 400;
    background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  font-family: 'Quicksand', sans-serif;
  transition: 1s ease-in;
  border: none;
  }
  button.signin:hover{
    cursor: pointer;
  }
  h4:hover{
    font-size: 32px;
    transition: 400ms ease-out ;
    cursor: pointer;
  }
  .small-square {
    width: 284px;
    height: 236.3px;
    /* background: #575757; */
    border-radius: 16px;
    box-shadow: 0px 2px 8px rgb(53, 52, 52) 
                ;
    background-color: #ffffff;
    background-image: none;
                
                
    display: flex;  
    align-items: center;
    justify-content: center;
    transition: 500ms;
    position: relative;
}
/* .small-square::after{
  position: absolute;
  content: "200";
  right: 12px;
  bottom: 0;

} */
.small-square:hover{
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  cursor: pointer;
  transition:  500ms ease-in;
}
.aside-wrapper{
  position: relative;
}
section.showcase-button {
    display: flex;
    margin: 32px auto;
    width: 100%;
    position: relative;
    
}
aside.element-picks {
    /* font-size: 24px; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 24px ;
    position: sticky;
    top: 20px;
    width: 226px;
}

div#signInField {
  position: absolute;
  height: 500px;
  width: 872px;
  z-index: 7;
  background: rgb(0, 0, 0);
  left: 50%;
  transform: translate(-50%, 0);
  top: 76px;
  border-radius: 16px;
  padding: 32px 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: white;
  font-family:'Quicksand', sans-serif ;
  transition: 0.4s ease-in;
  visibility: hidden;
}


/* .active{
  background-color: #5ae0ff;
  background-image: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
  -webkit-background-clip: text;
} */

.fa-solid{
  color: white;
  font-size: 32px;
  /* background-color: white; */
  margin-left: 768px;
}

.fa-solid:hover{
  cursor: pointer;
}
label{
  font-size: 28px;
}
input#Email{
    padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
}
input#Password{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
    margin-bottom: 16px;
}

button.Login-btn{
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: white;
font-family: 'Quicksand', sans-serif;
border: none;
}
button.Login-btn:hover{
  cursor: pointer;
}

#darken-element{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 6;
  cursor: pointer;
  transition: 1s;
  backdrop-filter: blur(16px);
}

div#signInField p{
  font-size: 18px;
}



.line{
    display: flex;
    gap: 18px;
    margin: 16px auto;
}

.GoToSignUpField{
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 16px;
}


.active{
  background-color: #5ae0ff;
   background-image: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
   color: transparent;
   -webkit-background-clip: text;
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
  
}
.Element{
  font-family: 'Quicksand', sans-serif;
   font-size: 32px;
   font-weight: 700;
   color: white;
   text-decoration: none;
}

.Element:hover{
   background-color: #5ae0ff;
   background-image: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
   -webkit-background-clip: text;
   color: transparent;
   z-index: 10;
   transition: 0.3s ;
   font-size: 34px;
   cursor: pointer;
}


div#sign-Up-Field{
  position: absolute;
  height: 600px;
  width: 872px;
  z-index: 7;
  background: rgb(0, 0, 0);
  left: 50%;
  transform: translate(-50%, 0);
  top: 76px;
  border-radius: 16px;
  padding: 32px 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: white;
  font-family:'Quicksand', sans-serif ;
  transition: 0.4s ease-in;
  visibility: hidden;
}



input#Name{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
}


input#SignUpPassword{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
    margin-bottom: 16px;
}

input#SignUpEmail{
  padding: 16px 16px;
  width: 426px;
  border: none;
  border-radius: 32px;
}


button.Signup-btn{
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: white;
font-family: 'Quicksand', sans-serif;
border: none;
}

.signUpLine p{
  text-align: center;
}

.GoToSignUpField{
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 16px;
}

.GoToSignUpField:hover{
  cursor: pointer;
}


@keyframes apeared {
    from {
      top: -50%
    };
    0% {
      opacity: 0%;
    };

    15% {
      opacity: 15%;
    }
    25%{
      opacity: 30%;
    }
    40%{
      opacity: 40%;
    }
    50% {
      opacity: 50%;
    };
    60%{
      opacity: 60%;
    }
    75%{
      opacity: 75%;
    }
    85%{
      opacity: 85%;
    }
    100%{
      opacity: 100%;
    };
  }

  @keyframes disapear{
    
    from{
      top: 76px;
    }
    to {
      top: -50%;
    }
  }

section.Element-content {
    display: flex;
    gap: 10px;
}

div#Animate {
    width: 500px;
    background: white;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code-example {
    width: 650px;
    /* overflow: scroll; */
    /* background: black; */
    /* scroll-padding: 0px; */
    position: relative;
}

div#html-code {
    width: 650px;
    height: 500px;
    background: black;
    border-radius: 16px 0px 0px 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
    color: white;
    padding: 64px 24px 10px;
}
div#css-code {
    background: black;
    border-radius: 16px 0px 0px 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    color: white;
    padding: 64px 24px 10px;
}

div#html-btn {
    color: white;
    position: absolute;
    left: 20px;
    top: 20px;
    background: black;
    padding: 6px 20px;
    border-radius: 12px;
    z-index: 5;
    cursor: pointer;
}
div#css-btn {
    color: white;
    position: absolute;
    left: 104px;
    top: 20px;
    background: black;
    padding: 6px 20px;
    border-radius: 12px;
    z-index: 5;
    cursor: pointer;
}



